
<div class="flex justify-between w-full">
  <div hx-get="/snipet/todo-state/{{ todo.id }}" hx-trigger="load"></div>
  <div>
    <a href="/?page=/modify-todo/{{ todo.id }}" hx-boost="true" class="text-blue-400 pl-2">
      <i class="fa-solid fa-pen"></i>
    </a>
    <button hx-delete="/delete-todo/{{ todo.id }}" hx-target="#app" hx-confirm="Delete Todo?" class="text-red-400 pl-2">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>

<details>
  <summary class="outline-none">
    <h3 class="text-xl inline-block w-full">
      {{ todo.title }}
    </h3>
  </summary>
  <p class="text-gray-400">{{ todo.description }}</p>
  <p class="text-gray-400 text-xs">UpdatedAt: {{ todo.modifiedAt }}</p>
</details>
