<span>
  <label>
    <input type="radio" value="P" name="state-{{todo.id}}" {{ processChecked }} hx-patch="/todo-state/{{ todo.id }}/P" hx-target="#app" hx-trigger="click" />
    P
  </label>
  <label>
    <input type="radio" value="D" name="state-{{todo.id}}" {{ doneChecked }} hx-patch="/todo-state/{{ todo.id }}/D" hx-target="#app" hx-trigger="click" />
    D
  </label>
  <label>
    <input type="radio" value="C" name="state-{{todo.id}}" {{ cancelChecked }} hx-patch="/todo-state/{{ todo.id }}/C" hx-target="#app" hx-trigger="click" />
    C
  </label>
</span>

<input value="{{ todo.id }}" type="hidden" />