<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.8.1/rxjs.umd.min.js" integrity="sha512-D9LDs8YUUVa4V9Gl4Zb+xqRAc7RCzooR3+zzebgK2RMu/KU+dh90pbjEEMzPiSyRSGbSp9j1pZnrO4joGa5WEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js" integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./index.module.js"></script>

  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div ng-app="App" ng-cloak>
    <div ng-controller="MainCtrl">
      <h1>
        {{ title }}
      </h1>

      <!-- CountCtrl -->
      <div ng-controller="CountCtrl">
        <h2>Count App</h2>
        <div>{{ count | mask:5 }}</div>
        <button ng-click="increase($event)">+</button>
      </div>
      <!-- end -->
      
      <!-- TodoCtrl -->
      <div ng-controller="TodoCtrl">
        <h2>Todo App</h2>

        <button ng-show="!shownForm" ng-click="openTodoForm()">+</button>
        <form ng-show="shownForm" name="addTodoForm" ng-submit="addTodo()" novalidate>
          <button type="button" ng-click="closeTodoForm()">x</button>
          <input name="title" ng-model="newTodo.title" required placeholder="title" ng-class="{error: addTodoForm.title.$dirty && addTodoForm.title.$invalid}" />
          <input name="description" ng-model="newTodo.description" placeholder="description" ng-class="{error: addTodoForm.title.$dirty && addTodoForm.description.$invalid}" />
          <button type="submit">Add</button>
        </form>

        <div ng-repeat="todo in todos">
          <details>
            <summary>
              <input type="checkbox" ng-checked="todo.checked" />
              {{ todo.title }}
              <button ng-click="delTodo(todo.id)">x</button>
            </summary>
            <p>
              {{ todo.description | falsy }}
              {{ todo.updatedAt | date:'yyyy.MM.dd' }}
            </p>
          </details>
        </div>
      </div>
      <!-- end -->

      <!-- AuthCtrl -->
      <div ng-controller="AuthCtrl" ng-show="shown">
        <h2>Auth App</h2>

        <div style="width: 200px;">
          <form name="loginForm" ng-submit="login()" novalidate>
            <div class="input-group">
              <label for="loginForm__email">email</label>
              <input name="email" id="loginForm__email" ng-model="loginFormData.email" required ng-class="{error: loginForm.email.$dirty && loginForm.email.$invalid}" />
              <p ng-show="loginForm.email.$dirty && loginForm.email.$invalid" class="error" aria-describedby="loginForm__email">Required</p>
            </div>
            <div class="input-group">
              <label for="loginForm__password">password</label>
              <input name="password" id="loginForm__password" ng-model="loginFormData.password" required ng-class="{error: loginForm.password.$dirty && loginForm.password.$invalid}" type="password" />
              <p ng-show="loginForm.password.$dirty && loginForm.password.$invalid" class="error" aria-describedby="loginForm__username">Required</p>
            </div>

            <div ng-show="loginFormAlert" role="alert" class="error">
              {{ loginFormAlert }}
            </div>

            <button type="submit">Login</button>
          </form>
        </div>
      </div>


      <a href="./#!/resource-list">resource-list</a>

      <div ng-view></div>
    </div>
  </div>
</body>
</html>