<div>
  
  <div>
    <a href="./#!/resource/goruping">grouping</a>
  </div>
  
  <div ng-if="loading">Loading...</div>
  <div>
    <!-- pagination -->
    <div>
      <span ng-repeat="i in data.pager" >
        <a ng-if="i !== data.cur" ng-href="./#!/resource?page={{ i }}">
          {{ i }}
        </a>
        <a ng-if="i === data.cur">
          {{ i }}
        </a>
      </span>
    </div>

    <!-- list -->
    <div>
      <div ng-repeat="item in data.list" class="resource">
        <div class="type">[{{ item.infra.type }}]</div>
        <div class="name">
          <a ng-href="./#!/resource/detail/{{item.id}}">🔗</a>
          {{ item.infra.name }}
        </div>
        <div class="address">{{ item.infra.address }}</div>
      </div>
    </div>
  </div>
</div>