<div class="resource-detail">
    <div>
        <h2>Info</h2>
        <div>
            [{{ resource.infra.type }}] {{ resource.infra.name }}
        </div>
        <div>{{ resource.infra.address }}</div>
        <div>{{ resource.infra.capacity }}kW</div>
        <div>
            {{ resource.infra.latitude | number:2 }} /
            {{ resource.infra.longitude | number:2 }} /
            {{ resource.infra.altitude | number:2  }}
        </div>
    </div>
</div>

<!-- {
    "id": 147,
    "modified_at": "2024-01-04T09:19:54.821414",
    "infra": {
        "id": 147,
        "carrier_fk": 12066,
        "name": "고산",
        "type": "태양광",
        "address": "제주특별자치도 제주시 한경면 고산리 12-8, 818-5",
        "latitude": 33.3112566219594,
        "longitude": 126.206356548536,
        "altitude": null,
        "capacity": 97.5,
        "install_date": null,
        "kpx_identifier": null,
        "inverter": [
            {
                "id": 133,
                "capacity": 97.5,
                "tilt": 20,
                "azimuth": 180,
                "install_type": "기타",
                "module_type": "기타"
            }
        ],
        "ess": []
    },
    "monitoring": {
        "id": 10,
        "company": 1,
        "rtu_id": "333",
        "resource": 147
    },
    "control": [
        {
            "id": 1,
            "company": 2,
            "control_type": 1,
            "controllable_capacity": 12,
            "rtu_id": "11",
            "onoff_inverter_capacity": null,
            "priority": 1,
            "resource": 147
        }
    ],
    "substation": 3,
    "dl": 10,
    "fixed_contract_price": null,
    "guaranteed_capacity": 0
} -->