{% set email = uuid() %}
{% set emailMessage = uuid() %}
{% set password = uuid() %}
{% set passwordMessage = uuid() %}

<form hx-validate="true" hx-post="/login" onsubmit="return false">
  <div class="mb-3">
    <label for="{{ email }}" class="form-label">Email</label>
    <input
      id="{{ email }}"
      class="form-control"
      name="email"
      type="email"
      required
      aria-describedby="email"
      hx-post="/valid/email"
      hx-trigger="keyup changed"
      hx-params="not email"
      hx-vals="js:{text: event.target.value, required: true}"
      hx-target="#{{ emailMessage }}"
    >
    <div id="{{ emailMessage }}" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="{{ password }}" class="form-label">Password</label>
    <input
      id="{{ password }}"
      class="form-control"
      name="password"
      type="password"
      required
      hx-post="/valid/password"
      hx-trigger="keyup changed"
      hx-params="not email"
      hx-vals="js:{text: event.target.value, required: true}"
      hx-target="#{{ passwordMessage }}"
    >
    <div id="{{ passwordMessage }}" class="form-text"></div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="auto">
    <label class="form-check-label" for="exampleCheck1">auto</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>